@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.banner{
  width: 100%;
  height: 60px;
  background-color: black;

  p{
    color: white;
    font-family: 'Lobster', cursive;
    size: 25px;
    padding: 16px;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

.showimg{
  display: flex;
  width: 100%;
  height: 360px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-position: center;
  h2{
    color: white;
    font-weight: lighter;
    font-size: 70px;
  }
  a{
    color: white;
  }

}